<!DOCTYPE html>
<html lang="en">
<head>
    <title>Department Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

    <script src="angularjs/adminDashBoard.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 1500px}

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #333;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height: auto;}
        }
    </style>
</head>
<!--background="https://s-media-cache-ak0.pinimg.com/736x/d8/af/16/d8af16fc52ff045592306f1c74f11011.jpg"-->

<body  ng-app="admin" ng-controller="admincontroller" style="background-color: #b7c3f0">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Workflow System</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right" >

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="background-color: #2e2e2e">
                        <li><button type="button" id="createDept" class="btn btn-info btn-block"  style="background-color: #2e2e2e" data-toggle="modal" data-target="#updateEmailModal">Update Email</button></li>
                        <li><button type="button" id="createDept" class="btn btn-info btn-block" style="background-color: #2e2e2e" data-toggle="modal" data-target="#deleteEmailModal">Delete Account</button></li>
                        <li><button type="button" id="createDept" class="btn btn-info btn-block" style="background-color: #2e2e2e" data-toggle="modal" data-target="#signOutModal">Sign out</button></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav" >
            <h4 style="color: #ffffff"> Department Admin </h4>
            <ul class="nav nav-pills nav-stacked">
                <li><button type="button" id="request" class="btn btn-info btn-block"  data-toggle="modal" data-target="#createRequestTypeModal"> Create Request Type</button></li>
                <li><button type="button" id="request" class="btn btn-info btn-block"  data-toggle="modal" data-target="#createWorkflowModal"> Create Workflow</button></li>
            </ul><br>

        </div>

        <div class="col-sm-9">
            <div class="container">
                <h2> Created Workflows</h2>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Request Id </th>
                        <th>Request Name</th>
                        <th>Status</th>
                    </tr>
                    </thead>

                </table>
            </div>

        </div>
    </div>
</div>


<!-- Create Request Modal -->
<div id="createRequestTypeModal" class="modal fade" role="dialog">

    <div class="modal-dialog modal-md">
        <!-- Admin Login Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="moda-title">Create Request Type</h3>
            </div>
            <div class="modal-body">
                <form role="form" name="createRequestform">
                    <div class="form-group">
                        <label for="email">Email_id</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email"
                               ng-model="email" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Request Type</label>
                        <input type="text" class="form-control" id="req_type" placeholder="Enter Request Type"
                               ng-model="req_type_name" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Organization Name</label>
                        <input type="text" class="form-control" id="org_name" placeholder="Enter Organization Name"
                               ng-model="org_name" required>
                    </div>
                    <p class="text-left">
                        <button type="button" id="createRequest" class="btn btn-info btn-block" ng-click="createRequestType();">Create Request Type</button>
                    </p>
                </form>

            </div>
        </div>
    </div>
</div>


<div id="createWorkflowModal" class="modal fade" role="dialog">

    <div class="modal-dialog modal-md">
        <!-- Admin Login Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="moda-title">Create Workflow</h3>
            </div>
            <div class="modal-body">
                <form role="form" name="createRequestform">
                    <div class="form-group">
                        <label for="email">Email_id</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email"
                               ng-model="email" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Request Type</label>
                        <input type="text" class="form-control" id="req_type" placeholder="Enter Request Type"
                               ng-model="req_type" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Organization Name</label>
                        <input type="text" class="form-control" id="org_name" placeholder="Enter Organization Name"
                               ng-model="org_name" required>
                    </div>

                    <div class="form-group">
                        <label for="email"> Department Name</label>
                        <input type="text" class="form-control"  id="dept_name"  placeholder="Enter Department"
                               ng-model="dept_name" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Description</label>
                        <input type="text" class="form-control"  id="desc" placeholder="Enter Description"
                               ng-model="desc" required>
                    </div>
                    <p class="text-left">
                        <button type="button" id="createRequest" class="btn btn-info btn-block" ng-click="createWorkflow();">Create Workflow</button>
                    </p>
                </form>

            </div>
        </div>
    </div>
</div>


<!--Update Email Modal -->

<div id="updateEmailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Create Department Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="moda-title">Update Email</h3>
            </div>
            <div class="modal-body">
                <form role="form" name="createDepartmentForm">
                    <div class="form-group">
                        <label for="email"> Current Email id</label>
                        <input type="email" class="form-control" id="name" placeholder="Enter new email"
                               ng-model="current_email" required>
                    </div>

                    <div class="form-group">
                        <label for="email"> New Email</label>
                        <input type="email" class="form-control" id="name" placeholder="Enter new email"
                               ng-model="new_email" required>
                    </div>

                    <div class="form-group">
                        <label for="email"> Organization Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter organization name"
                               ng-model="org_name" required>
                    </div>


                    <button type="button" class="btn btn-info btn-block" ng-click="update();">Update</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!--Delete Email Modal -->

<div id="deleteEmailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Create Department Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="moda-title">Delete Email</h3>
            </div>
            <div class="modal-body">
                <form role="form" name="createDepartmentForm">
                    <div class="form-group">
                        <h3><label for="email">Are you sure you want to delete your account?</label></h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><button type="button" class="btn btn-info btn-block" ng-click="delete('<%=org_name%>','<%=email%>');">Yes</button></div>
                        <div class="col-sm-2"><button type="button" class="btn btn-info btn-block" ng-click="init('<%=org_name%>','<%=email%>');">No</button></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!--Sign Out Modal -->

<div id="signOutModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Create Department Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="moda-title">Delete Email</h3>
            </div>
            <div class="modal-body">
                <form role="form" name="createDepartmentForm">
                    <div class="form-group">
                        <h3><label for="email">Are you sure you want to sign out?</label></h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><button type="button" class="btn btn-info btn-block" ng-click="signOut();">Yes</button></div>
                        <div class="col-sm-2"><button type="button" class="btn btn-info btn-block" ng-click="init('<%=org_name%>','<%=email%>');">No</button></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>
